* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.kenzieflixLogo {
  width: 490px;
  height: 145px;
  display: flex;
  margin-top: 60px;
}

.objects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiles {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  padding-top: 20px;
  gap: 25px;
  text-decoration: none;
  color: white;
}

.plusBox {
  width: 160px;
  height: 160px;
  background-color: rgb(58, 57, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 15px;
}

.plusBox:hover {
  border: 2px solid white;
}

.plusProfile {
  width: 70px;
  height: 70px;
  filter: brightness(0.5);
}

.plusProfile:hover {
  filter: brightness(1);
}

.profileInner {
  width: 160px;
  height: 160px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-bottom: 15px;
}

.profileInner:hover {
  border: 2px solid white;
}

.users {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.664);
}

a:hover span {
  color: white;
}

.button {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: black;
  color: white;
  height: 50px;
  width: 195px;
  margin-top: 30px;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: white;
}
